# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
# pubspec.lock EST versionné (convention app Flutter, pas librairie)

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
